.git/
__pycache__/
.pytest_cache/
.ruff_cache/
*.swo
*.swp
.venv
.vscode/
consolidated_report.md*
consolidated_reports/
enhanced_generate_report.sh-*
README.md-*
role_pytest_reports.tar.gz
typescript
test_report*
wheels/
